﻿<div class="row">
    <div class="form-group col-md-12">
        <h1 class="orms-secondary border-bottom">Statistika</h1>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="container orms-secondary-bg shadow p-md-5">
                    <h4 class="pb-md-3">Ukupna zarada po godinama (KN):</h4>
                    <canvas id="bar" class="chart chart-bar"
                            chart-data="sc.barData" chart-labels="sc.barLabels" chart-series="sc.barSeries" chart-colors="sc.colors"></canvas>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="container orms-secondary-bg shadow pb-md-3">
                    <h4 class="pt-md-3">Top 10 prodavanih artikala:</h4>
                    <canvas class="chart chart-pie"
                            chart-data="sc.itemData" chart-labels="sc.itemLabels"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container orms-secondary-bg shadow pb-md-3">
                    <h4 class="pt-md-3">Najviše prometa u smjeni:</h4>
                    <canvas class="chart chart-doughnut"
                            chart-data="sc.shiftData" chart-labels="sc.shiftLabels"></canvas>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="container orms-secondary-bg shadow p-md-5">
                    <h4 class="pb-md-3">Ukupna zarada po mjesecima (KN):</h4>
                    <canvas id="line" class="chart chart-line" chart-data="sc.linearData"
                            chart-labels="sc.linearLabels" chart-options="sc.linearOptions" chart-series="sc.linearSeries"
                            chart-dataset-override="sc.linearDatasetOverride" chart-colors="sc.colors"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>