﻿<div class="modal fade" id="itemEditModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTitle">Uredi artikl</h5>
            </div>
            <form ng-submit="ic.editItem(ic.selectedItem)">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtItemName">Ime:</label>
                        <input type="text" ng-model="ic.selectedItem.name"  ng-maxlength="255" class="form-control text-uppercase" required/>
                    </div>
                    <div class="form-group">
                        <label for="txtItemPrice">Cijena:</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" ng-model="ic.selectedItem.price" required>
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">,00</span>
                                <span class="input-group-text" id="basic-addon2">kn</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ddlItemCategory">Kategorija:</label>
                        <select ng-model="ic.selectedItem.category"
                                ng-options="category as category.name for category in ic.categories track by category.id"
                                class="form-control" required>
                            <option value="" ng-show="false"></option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">
                        <span><i class="material-icons">cancel</i>Odustani</span>
                    </button>
                    <button type="button" class="btn btn-link" ng-click="ic.removeItem(ic.selectedItem)">
                        <span><i class="material-icons">delete_sweep</i> Obriši</span>
                    </button>
                    <button type="submit" class="btn btn-outline-info" ng-disabled="!ic.selectedItem">
                        <span><i class="material-icons">save</i> Spremi</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>