﻿<div class="modal fade" id="itemAddModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTitle">Dodaj artikl</h5>
            </div>
            <form ng-submit="ic.addItem(ic.item)">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtItemName">Ime:</label>
                        <input type="text" ng-model="ic.item.name" ng-maxlength="255" class="form-control text-uppercase" required />
                    </div>
                    <div class="form-group">
                        <label for="txtItemPrice">Cijena:</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" ng-model="ic.item.price" required>
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">,00</span>
                                <span class="input-group-text" id="basic-addon2">kn</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ddlItemCategory">Kategorija:</label>
                        <select ng-model="ic.item.category"
                                ng-options="category as category.name for category in ic.categories track by category.id"
                                class="form-control" required>
                            <option value="">Odaberi kategoriju</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal" ng-click="ic.item = undefined">
                        <span><i class="material-icons">cancel</i> Odustani</span>
                    </button>
                    <button type="submit" class="btn btn-outline-info" ng-disabled="!ic.item">
                        <span><i class="material-icons">save</i> Spremi</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>