﻿<div class="row">
    <div class="form-group col-md-12">
        <h1 class="orms-secondary border-bottom">Artikli</h1>
    </div>
</div>
<form ng-submit="ic.search(ic.searchParams)">
    <div class="row">
        <div class="form-group col-md-6">
            <select ng-model="ic.searchParams.categoryId"
                    ng-options="category.id as category.name for category in ic.categories track by category.id"
                    class="form-control">
                <option value="">Pretraži po kategoriji</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" ng-model="ic.searchParams.name" ng-minlength="3" placeholder="Pretraži po imenu artikla...">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <div class="dropdown dropleft">
                <button type="button" class="btn btn-outline-light col-md-12" data-toggle="dropdown">
                    <span><i class="material-icons">settings_applications</i> Postavke</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <h6 class="dropdown-header">Artikl</h6>
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#itemAddModal">Dodaj novi</button>
                    <h6 class="dropdown-header">Kategorija</h6>
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#categoryAddModal">Dodaj novu</button>
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#categoryEditModal">Uredi postojeću</button>
                    <div role="separator" class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Sortiraj po</h6>
                    <button class="dropdown-item" type="button" ng-click="ic.sortBy(ic.ORDER_BY.NAME)">Ime</button>
                    <button class="dropdown-item" type="button" ng-click="ic.sortBy(ic.ORDER_BY.CATEGORY)">Kategorija</button>
                    <button class="dropdown-item" type="button" ng-click="ic.sortBy(ic.ORDER_BY.PRICE)">Cijena</button>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <button type="submit" ng-disabled="ic.searchDisabled()" class="btn btn-info col-md-12">
                <span><i class="material-icons md-light">search</i> Pretraga</span>
            </button>
        </div>
        <div class="form-group col-md-3">
            <button class="btn btn-outline-light col-md-12" type="button" ng-click="ic.resetSearch()">
                <span><i class="material-icons">clear</i> Očisti</span>
            </button>
        </div>
    </div>
</form>
<table class="table table-bordered table-responsive-sm table-hover shadow bg-light">
    <thead>
        <tr>
            <th class="text-center" style="width:50px;">#</th>
            <th class="text-uppercase">Artikl</th>
            <th class="text-uppercase">Kategorija</th>
            <th class="text-uppercase" style="width:100px;">Cijena</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in ic.items track by $index" data-toggle="modal" data-target="#itemEditModal" ng-click="ic.setSelected(item)">
            <th class="text-center">{{ item.rowIndex + 1 }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.category.name }}</td>
            <td>{{ item.price | currency }}</td>
        </tr>
    </tbody>
</table>
<nav paging
     ul-class="pagination justify-content-center"
     show-prev-next="true"
     text-next="Sljedeća"
     text-prev="Prethodna"
     page="ic.paging.pageNumber"
     page-size="ic.paging.pageSize"
     total="ic.paging.totalItems"
     paging-action="ic.goToPage(page)">
</nav>
<div ng-include="'App/orms/item/templates/item-edit-modal.html'"></div> <!-- Item edit modal -->
<div ng-include="'App/orms/item/templates/item-add-modal.html'"></div> <!-- Item add modal -->
<div ng-include="'App/orms/category/templates/category-add-modal.html'"></div> <!-- Category add modal-->
<div ng-include="'App/orms/category/templates/category-edit-modal.html'"></div> <!-- Category edit modal-->