﻿body {
    font-family: 'Roboto', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Remove padding on printing pages */
@media print {
    .body-content {
        padding-top: 0px;
    }

    .d-print-text, .border-bottom {
        color: black;
    }
}

/***********************
***    VARIABLES    ****
***********************/

:root {
    --main-bg-color: #212121;
    --turquoise-blue-color: #17a2b8;
}

/***********************
***     GENERAL     ****
***********************/

.border {
    border: 1px solid black;
}

.shadow {
    -webkit-box-shadow: 3px 11px 20px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 11px 20px -3px rgba(0,0,0,0.75);
    box-shadow: 3px 11px 20px -3px rgba(0,0,0,0.75);
}

.shadow-right {
    -webkit-box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.75);
}

.form-control:focus {
    border-color: var(--turquoise-blue-color) !important;
    box-shadow: inset 0 1px 1px rgba(23, 162, 184, 1), 0 0 8px rgba(23, 162, 184, 1);
}

.form-control:disabled {
    background-color: #ccc;
}

.text-area {
    height: 38px;
    min-height: 38px;
    max-height: 150px;
}

.text-bold {
    font-weight: bold;
}

.modal-hide {
    display: none !important;
}

.modal-backdrop:not(:last-child) {
    opacity: 0;
}

.datepicker table tr td.active.active {
    background-color: var(--turquoise-blue-color) !important;
}

.pt-20 {
    padding-top: 20px;
}

.badge.badge-outline-info {
    border: 3px solid var(--turquoise-blue-color);
    color: #fff;
    background-color: transparent;
}

.badge-text {
    display: inline-block;
    padding: 0.25em;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    padding-left: 0;
}

/***********************
***   ORMS - MAIN   ****
***********************/
.orms-primary, .material-icons {
    color: var(--main-bg-color);
}

.orms-secondary {
    color: white;
}

.orms-turquoise-blue {
    color: var(--turquoise-blue-color);
}

.orms-primary-bg {
    background-color: var(--main-bg-color);
}

.orms-secondary-bg {
    background-color: white;
}

.orms-turquoise-blue-bg {
    background-color: var(--turquoise-blue-color);
}

.bg-light {
    background-color: #fff !important;
}

/***********************
***     LOGIN       ****
***********************/

.login-container {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    height: auto;
}

.login-form {
    padding: 20px 0;
}

.login-subtitle {
    position: relative;
    font-size: 16px;
    font-family: 'Cinzel';
}

.login-icons {
    fill: var(--main-bg-color);
    width: 15px;
    height: 15px;
}

/***********************
***    NAVIGATION   ****
***********************/

.orms-brand {
    height: 40px !important;
}

.nav-item a:hover, .active-nav a {
    color: var(--turquoise-blue-color) !important;
}

.active-nav a {
    font-weight: bold !important;
}

label.nav-link {
    color: #fff;
}

.dropdown-item:hover {
    color: white;
    background-color: var(--turquoise-blue-color);
}

h1.orms-secondary.border-bottom {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.footer {
    margin-top: 20px;
}

/***********************
***      PAGING     ****
***********************/

.page-item.active .page-link {
    background-color: var(--turquoise-blue-color);
    border-color: var(--turquoise-blue-color);
}

/*****************************************
***     BUTTON AND MATERIAL ICONS     ****
******************************************/

button.btn-outline-light.info:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

button.btn-link {
    color: var(--main-bg-color);
    font-weight: normal;
}

    button.btn-link.white {
        color: #fff;
        font-weight: normal;
    }

    button.btn-link:hover {
        color: var(--turquoise-blue-color);
        text-decoration: none;
    }

    button.btn-link:focus, .btn-link.focus {
        text-decoration: none;
        color: var(--turquoise-blue-color);
        font-weight: bold;
    }

button.btn > span, a.nav-link > span, span.input-group-text > i.material-icons {
    display: inline-flex;
    vertical-align: middle !important;
    color: inherit !important;
}

    button.btn > span > i.material-icons, a.nav-link > span > i.material-icons {
        margin-right: 3px;
        color: inherit !important;
    }

        button.btn > span > i.material-icons, a.nav-link > span > i.material-icons.no-margin {
            color: inherit !important;
        }

i.material-icons.margin-left {
    margin-left: 5px !important;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

#button_upward {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    padding: 15px;
}

/***********************
***     RECORDS     ****
***********************/
.record-th {
    width: 100px;
    text-transform: uppercase;
    text-align: center;
}

.record-td {
    text-align: center;
}

    .record-td > input.form-control-sm {
        width: 80px !important;
    }

.record-v-align > td {
    vertical-align: middle !important;
}
