﻿<div class="row">
    <div class="col-md-12">
        <hgroup style="color:white;">
            <h1>401</h1>
            <h2>Niste autorizirani</h2>
            <h5>Ispričavamo se, ali niste autorizirani za traženu akciju ili pregled aplikacije.</h5>
        </hgroup>
    </div>
</div>