﻿<div class="row">
    <div class="col-md-12">
        <hgroup style="color:white;">
            <h1>404</h1>
            <h2>Ne postoji</h2>
            <h5>Ispričavamo se, ali tražena stranica ne postoji.</h5>
        </hgroup>
    </div>
</div>