﻿<div class="row">
    <div class="col-md-12">
        <div class="form-group border-bottom clearfix">
            <h1 class="orms-secondary float-left">
                <span class="badge-text d-print-text">Evidencijska lista</span>
            </h1>
            <h1 class="orms-secondary float-md-right">
                <span class="badge badge-pill badge-outline-info d-print-none" ng-show="rsc.info.dateCreated">
                    {{ rsc.info.dateCreated | date : "dd.MM.yyyy." }}
                </span>
                <span class="badge-text d-none d-print-block d-print-text">{{ rsc.info.dateCreated | date : "dd.MM.yyyy." }}</span>
            </h1>
        </div>
    </div>
</div>

<div class="row d-print-none">
    <div class="col-md-12">
        <div class="form-group clearfix">
            <ul class="nav float-left">
                <li class="nav-item">
                    <button type="button" class="btn btn-link white" ng-click="rsc.goBack()">
                        <span><i class="material-icons">arrow_back</i> <span class="d-none d-sm-block">Natrag</span></span>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-link white" onclick="window.print()">
                        <span><i class="material-icons">print</i> <span class="d-none d-sm-block">Ispiši</span></span>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-link white" ng-click="rsc.downloadCSV()">
                        <span><i class="material-icons">file_download</i> <span class="d-none d-sm-block">Preuzmi</span></span>
                    </button>
                </li>
            </ul>
            <ul class="nav float-right">
                <li class="nav-item mr-3">
                    <label class="nav-link">
                        <span class="text-bold">Kreirao: </span>
                        <span>{{ rsc.info.userCreated }}</span>
                    </label>
                </li>
                <li class="nav-item">
                    <label class="nav-link">
                        <span class="text-bold">Ažurirao: </span>
                        <span>{{ rsc.info.userUpdated }}</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row text-white pt-2">
    <div class="col-md-4">
        <div class="form-group">
            <label class="text-bold d-print-text">Ugostiteljski prostor:</label>
            <p class="d-print-text">{{ rsc.officeName }}</p>
        </div>
        <div class="form-group">
            <label class="text-bold d-print-text">Ukupan iznos na kraju dana:</label>
            <p class="d-print-text">{{ rsc.info.totalEarnings | currency }}</p>
        </div>
        <div class="form-group d-print-none" ng-if="rsc.info.comment">
            <label class="text-bold d-print-text">Komentar:</label>
            <p class="flex-wrap d-print-text">{{ rsc.info.comment }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="text-bold d-print-text">Prva smjena:</label>
            <p class="d-print-text">{{ rsc.firstShiftWorkerName }}</p>
        </div>
        <div class="form-group">
            <label class="text-bold d-print-text">Iznos prve smjene:</label>
            <p class="d-print-text">{{ rsc.info.firstShift.shiftEarnings | currency }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="text-bold d-print-text">Druga smjena:</label>
            <p class="d-print-text">{{ rsc.secondShiftWorkerName }}</p>
        </div>
        <div class="form-group">
            <label class="text-bold d-print-text">Iznos druge smjene:</label>
            <p class="d-print-text">{{ rsc.info.secondShift.shiftEarnings | currency }}</p>
        </div>
    </div>
</div>
<table class="table table-bordered table-responsive-sm table-responsive-md table-hover table-sm shadow bg-light">
    <thead>
        <tr>
            <th class="text-center" style="width:50px;">#</th>
            <th class="text-uppercase">Artikl</th>
            <th class="record-th" data-toggle="tooltip" title="Stanje od jučer">Šank</th>
            <th class="record-th" data-toggle="tooltip" title="Primljeno danas">Prim</th>
            <th class="record-th" data-toggle="tooltip" title="Zbroj primljenog i stanja od jučer">Ukupno</th>
            <th class="record-th" data-toggle="tooltip" title="Stanje od danas">Šank</th>
            <th class="record-th" data-toggle="tooltip" title="Razlika ukupnog i stanja od danas">Prod</th>
            <th class="record-th">Cijena</th>
            <th class="text-uppercase text-center">Zbroj</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="recordItem in rsc.recordItems track by $index" class="record-v-align">
            <td scope="row" class="text-center text-bold">{{ recordItem.rowIndex + 1 }}</td>
            <td>{{ recordItem.item.name }}</td>
            <td class="text-center">{{ recordItem.yesterdaysStateOfTheBar }}</td>
            <td class="text-center">{{ recordItem.received }}</td>
            <td class="text-center">{{ recordItem.inTotal }}</td>
            <td class="text-center">{{ recordItem.todaysStateOfTheBar }}</td>
            <td class="text-center">{{ recordItem.soldOut }}</td>
            <td class="text-center">{{ recordItem.item.price | currency }}</td>
            <td class="text-center">{{ recordItem.sumOfSoldArticlesPrice | currency }}</td>
        </tr>
    </tbody>
</table>