﻿<div class="row">
    <div class="form-group col-md-12">
        <h1 class="orms-secondary border-bottom">Evidencijske liste</h1>
    </div>
</div>
<form ng-submit="rc.search(rc.searchParams)">
    <div class="row">
        <div ng-class="{ 'col-md-6': !rc.isWorker(), 'col-md-12': rc.isWorker()}">
            <div class="form-group">
                <div class="input-group input-daterange">
                    <input type="text" class="form-control" id="fromDate" placeholder="__.__.____." ng-model="rc.searchParams.fromDate" readonly>
                    <div class="input-group-addon">
                        <span class="input-group-text">
                            <i class="material-icons">date_range</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" id="toDate" placeholder="__.__.____." ng-model="rc.searchParams.toDate" readonly>
                </div>
            </div>
        </div>
        <div class="col-md-6" ng-if="!rc.isWorker()">
            <div class="form-group">
                <select ng-model="rc.searchParams.workerId"
                        ng-options="worker.id as worker.fullName for worker in rc.workers track by worker.id"
                        class="form-control">
                    <option value="">Odaberi radnika</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <button class="btn btn-outline-light col-md-12" type="button" ng-click="rc.goAddNew()">
                <span><i class="material-icons">add</i> Dodaj novu</span>
            </button>
        </div>
        <div class="form-group col-md-6">
            <button type="submit" ng-disabled="rc.searchDisabled()" class="btn btn-info col-md-12">
                <span><i class="material-icons md-light">search</i> Pretraga</span>
            </button>
        </div>
        <div class="form-group col-md-3">
            <button class="btn btn-outline-light col-md-12" type="button" ng-click="rc.resetSearch()">
                <span><i class="material-icons">clear</i> Očisti</span>
            </button>
        </div>
    </div>
</form>
<div id="accordion" class="shadow">
    <div class="card orms-primary-bg" ng-repeat="record in rc.records track by $index">
        <div class="card-header bg-light" id="list{{$index}}">
            <h5 class="mb-0 float-left">
                <span class="text-bold align-middle">{{ record.rowIndex + 1 }}</span>
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{$index}}">
                    <span>
                        <i class="material-icons">today</i> 
                        <span class="d-none d-sm-block">{{ record.dateCreated | date : "dd.MM.yyyy. - EEEE" }}</span>
                        <span class="d-block d-sm-none">{{ record.dateCreated | date : "dd.MM.yyyy." }}</span>
                    </span>
                </button>
            </h5>
            <h5 class="mb-0 float-right">
                <button class="btn btn-link" ng-click="rc.goEdit(record.id)">
                    <span><i class="material-icons">mode_edit</i> <span class="d-none d-sm-block">Uredi</span></span>
                </button>
                <button class="btn btn-link" ng-click="rc.goShow(record.id)" ng-if="!rc.isWorker()">
                    <span><i class="material-icons">visibility</i> <span class="d-none d-sm-block">Pregledaj</span></span>
                </button>
            </h5>
        </div>
        <div id="collapse{{$index}}" class="collapse" data-parent="#accordion">
            <div class="card-body text-white">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <b>Ugostiteljski prostor:</b>
                        <span class="text-uppercase">{{ record.officeName }}</span>
                    </div>
                    <div class="col-md-4 text-center">
                        <b>Ukupni promet:</b>
                        <span class="text-uppercase">{{ record.totalEarnings | currency }}</span>
                    </div>
                    <div class="col-md-4 text-center">
                        <b>Radnici:</b>
                        <span class="text-uppercase" ng-repeat="worker in record.workers"> 
                            {{ worker.firstName }} <b ng-if="!$last">/</b>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="col-md-12" ng-if="rc.records.length < 1">
        <div class="form-group text-center text-white">
            <h2 class="h2">Nema rezultata</h2>
        </div>
    </div>
    <nav paging
         ul-class="pagination justify-content-center"
         show-prev-next="true"
         text-next="Sljedeća"
         text-prev="Prethodna"
         page="rc.paging.pageNumber"
         page-size="rc.paging.pageSize"
         total="rc.paging.total"
         paging-action="rc.goToPage(page)">
    </nav>
</div>