﻿<div class="row">
    <div class="col-md-12">
        <div class="form-group border-bottom clearfix">
            <h1 class="orms-secondary float-left">
                <span class="badge-text">Evidencijska lista</span>
            </h1>
            <h1 class="orms-secondary float-md-right">
                <span class="badge badge-pill badge-outline-info" ng-hide="rec.info.dateCreated">
                    __.__.____.
                </span>
                <span class="badge badge-pill badge-outline-info" ng-model="rec.info.dateCreated" ng-show="rec.info.dateCreated">
                    {{ rec.info.dateCreated | date : "dd.MM.yyyy." }}
                </span>
            </h1>
        </div>
    </div>
</div>
<form ng-submit="rec.save()">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group clearfix">
                <ul class="nav float-left">
                    <li class="nav-item">
                        <button type="button" class="btn btn-link white" ng-click="rec.goBack()">
                            <span><i class="material-icons">arrow_back</i> <span class="d-none d-sm-block">Natrag</span></span>
                        </button>
                    </li>
                    <li class="nav-item" ng-if="rec.isEdit()">
                        <button type="button" class="btn btn-link white" ng-click="rec.remove()">
                            <span><i class="material-icons">delete_sweep</i> <span class="d-none d-sm-block">Obriši</span></span>
                        </button>
                    </li>
                    <li class="nav-item" ng-if="rec.isCreate()">
                        <button type="button" class="btn btn-link white" ng-click="rec.getYesterdaysStateOfTheBar()" ng-disabled="!rec.info.dateCreated">
                            <span><i class="material-icons">file_download</i> <span class="d-none d-sm-block">Povuci stanje od jučer</span></span>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="submit" class="btn" ng-class="{
                                'btn-outline-light info': !rec.info.dateCreated,
                                'btn-info': rec.info.dateCreated }" ng-disabled="!rec.info.dateCreated">
                            <span><i class="material-icons">save</i> <span class="d-none d-sm-block">Spremi</span></span>
                        </button>
                    </li>
                </ul>
                <ul class="nav float-right">
                    <li class="nav-item mr-3" ng-if="rec.isEdit()">
                        <label class="nav-link">
                            <span class="text-bold">Kreirao: </span>
                            <span>{{ rec.info.userCreated }}</span>
                        </label>
                    </li>
                    <li class="nav-item">
                        <label class="nav-link" ng-if="rec.isEdit()">
                            <span class="text-bold">Ažurirao: </span>
                            <span>{{ rec.info.userUpdated }}</span>
                        </label>
                    </li>
                    <li class="nav-item" ng-hide="rec.isEdit()">
                        <button type="button" class="btn" ng-class="{
                                'btn-outline-light info': rec.info.dateCreated,
                                'btn-info': !rec.info.dateCreated }"
                                id="recordDateCreated">
                            <span><i class="material-icons">today</i> <span class="d-none d-sm-block">Odaberi datum</span></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row text-white pt-2">
        <div class="col-md-4">
            <div class="form-group">
                <label>Ugostiteljski prostor:</label>
                <select ng-model="rec.info.officeId"
                        ng-options="office.id as office.name for office in rec.offices"
                        ng-disabled="!rec.info.dateCreated"
                        required
                        class="form-control">
                    <option value="">Odaberi prostor</option>
                </select>
            </div>
            <div class="form-group">
                <label>Ukupan iznos na kraju dana:</label>
                <input type="text" class="form-control disabled" disabled ng-model="rec.info.totalEarnings" ng-value="rec.info.totalEarnings | currency" required>
            </div>
            <div class="form-group">
                <label>Komentar:</label>
                <textarea class="form-control text-area" ng-model="rec.info.comment" ng-disabled="!rec.info.dateCreated"></textarea>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Prva smjena:</label>
                <select ng-model="rec.info.firstShift.workerId"
                        ng-options="worker.id as worker.fullName for worker in rec.workers"
                        ng-disabled="!rec.info.dateCreated"
                        required
                        class="form-control">
                    <option value="">Odaberi radnika</option>
                </select>
            </div>
            <div class="form-group">
                <label>Iznos prve smjene:</label>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" min="0"
                           ng-disabled="!rec.info.dateCreated"
                           ng-model="rec.info.firstShift.shiftEarnings"
                           ng-change="rec.updateTotalEarnings()"
                           required>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">,00</span>
                        <span class="input-group-text" id="basic-addon2">kn</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Druga smjena:</label>
                <select ng-model="rec.info.secondShift.workerId"
                        ng-disabled="!rec.info.dateCreated"
                        ng-options="worker.id as worker.fullName for worker in rec.workers"
                        class="form-control">
                    <option value="">Odaberi radnika</option>
                </select>
            </div>
            <div class="form-group">
                <label>Iznos druge smjene:</label>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" min="0"
                           ng-disabled="!rec.info.dateCreated"
                           ng-model="rec.info.secondShift.shiftEarnings"
                           ng-change="rec.updateTotalEarnings()">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">,00</span>
                        <span class="input-group-text" id="basic-addon2">kn</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-responsive-sm table-responsive-md table-sm table-hover shadow bg-light">
        <thead>
            <tr>
                <th class="text-center" style="width:50px;">#</th>
                <th class="text-uppercase">Artikl</th>
                <th class="record-th" data-toggle="tooltip" title="Stanje od jučer">Šank</th>
                <th class="record-th" data-toggle="tooltip" title="Primljeno danas">Prim</th>
                <th class="record-th" data-toggle="tooltip" title="Zbroj primljenog i stanja od jučer">Ukupno</th>
                <th class="record-th" data-toggle="tooltip" title="Stanje od danas">Šank</th>
                <th class="record-th" data-toggle="tooltip" title="Razlika ukupnog i stanja od danas">Prod</th>
                <th class="record-th">Cijena</th>
                <th class="text-uppercase text-center">Zbroj</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="recordItem in rec.recordItems track by $index" class="record-v-align">
                <td scope="row" class="record-td text-bold">{{ recordItem.rowIndex + 1 }}</td>
                <td>{{ recordItem.item.name }}</td>
                <td class="record-td">
                    <input type="number" step=".01" class="form-control-sm" min="0" max="999" ng-disabled="!rec.info.dateCreated"
                           ng-model="recordItem.yesterdaysStateOfTheBar" ng-change="rec.updateInTotal(recordItem)" required />
                </td>
                <td class="record-td">
                    <input type="number" step=".01" class="form-control-sm" min="0" max="999" ng-disabled="!rec.info.dateCreated"
                           ng-model="recordItem.received" ng-change="rec.updateInTotal(recordItem)" required />
                </td>
                <td class="record-td" ng-model="recordItem.inTotal">
                    {{ recordItem.inTotal | number : 2 }}
                </td>
                <td class="record-td">
                    <input type="number" step=".01" class="form-control-sm" min="0" max="999" ng-disabled="!rec.info.dateCreated"
                           ng-model="recordItem.todaysStateOfTheBar" ng-change="rec.updateSoldOut(recordItem)" required />
                </td>
                <td class="record-td" ng-model="recordItem.soldOut">
                    {{ recordItem.soldOut | number : 2 }}
                </td>
                <td class="text-center">
                    {{ recordItem.item.price | currency }}
                </td>
                <td class="text-center" ng-model="recordItem.sumOfSoldArticlesPrice">
                    {{ recordItem.sumOfSoldArticlesPrice | currency }}
                </td>
            </tr>
        </tbody>
    </table>
</form>
<div class="footer">
    <nav paging
         ul-class="pagination justify-content-center"
         show-prev-next="true"
         text-next="Sljedeća"
         text-prev="Prethodna"
         page="rec.paging.pageNumber"
         page-size="rec.paging.pageSize"
         total="rec.paging.total"
         paging-action="rec.goToPage(page)">
    </nav>
</div>
