﻿<div class="row">
    <div class="form-group col-md-12">
        <h1 class="orms-secondary border-bottom">Ugostiteljski prostori</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="input-group">
                <select ng-model="oc.office"
                        ng-options="office as office.name for office in oc.offices"
                        required
                        class="form-control">
                    <option value="">Odaberite prostor</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-info" type="button" ng-click="oc.goAdd()">
                        <span><i class="material-icons no-margin">add</i> Dodaj</span>
                    </button>
                    <button class="btn btn-info" type="button" ng-click="oc.goEdit(oc.office.id)" ng-disabled="!oc.office">
                        <span><i class="material-icons no-margin">mode_edit</i> Uredi</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

