﻿<div class="row">
    <div class="form-group col-md-12">
        <h1 class="orms-secondary border-bottom">Ugostiteljski prostor <span ng-if="oec.isEdit()">"{{oec.office.name}}"</span></h1>
    </div>
</div>
<form ng-submit="oec.save()">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <ul class="nav">
                    <li class="nav-item">
                        <button type="button" class="btn btn-link white" ng-click="oec.goBack()">
                            <span><i class="material-icons">arrow_back</i> <span class="d-none d-sm-block">Natrag</span></span>
                        </button>
                    </li>
                    <li class="nav-item" ng-if="oec.isEdit()">
                        <button type="button" class="btn btn-link white" ng-click="oec.remove()">
                            <span><i class="material-icons">delete_sweep</i> <span class="d-none d-sm-block">Obriši</span></span>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="submit" class="btn btn-outline-light info">
                            <span><i class="material-icons">save</i> <span class="d-none d-sm-block">Spremi</span></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">Naziv:</label>
                <input type="text" class="form-control" ng-model="oec.office.name" required/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">OIB:</label>
                <input type="text" class="form-control" maxlength="11" minlength="11" ng-model="oec.office.oib" ng-disabled="oec.isEdit()" required />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">Adresa:</label>
                <input type="text" class="form-control" ng-model="oec.office.address" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">Poštanski broj:</label>
                <input type="text" class="form-control" maxlength="5" minlength="5" ng-model="oec.office.postalCode" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">Mjesto:</label>
                <input type="text" class="form-control" ng-model="oec.office.place" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">Grad:</label>
                <input type="text" class="form-control" ng-model="oec.office.city" />
            </div>
        </div>
    </div>
</form>
