﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS -->
    @Styles.Render("~/Content/css")

    <!-- JS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/chartjs")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/sweetalert2")

    <!-- ORMS App -->
    @Scripts.Render("~/bundles/app")

</head>
<body class="orms-primary-bg" ng-app="ormsApp" ng-controller="appController as app">
    <div ng-include="'App/shared/navigation/templates/navigation.html'" ng-if="app.notLoginView() && app.notErrorView()" class="d-print-none"></div>
    <div ng-include="'App/shared/navigation/templates/no-navigation.html'" ng-if="app.errorView()" class="d-print-none"></div>

    <div class="container body-content">
        <ng-view></ng-view>
    </div>

    <button class="btn btn-info d-print-none" ng-click="app.goToTheTop()" id="button_upward">
        <span><i class="material-icons">arrow_upward</i></span>
    </button>
    <script type="text/javascript">
        $(function () {
            window.onscroll = function () { scrollFunction() };
            function scrollFunction() {
                if (document.body.scrollTop > 400 || document.documentElement.scrollTop > 400) {
                    document.getElementById("button_upward").style.display = "block";
                } else {
                    document.getElementById("button_upward").style.display = "none";
                }
            }
        });
    </script>
</body>
</html>
