﻿<div class="modal fade" id="categoryAddModal" tabindex="-1" role="dialog" ng-controller="categoryController as cc">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTitle">Dodaj kategoriju</h5>
            </div>
            <form ng-submit="cc.addCategory(cc.category)">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtCategoryName">Ime:</label>
                        <input type="text" 
                               ng-model="cc.category.name" 
                               ng-maxlength="255"
                               class="form-control" 
                               required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal" ng-click="cc.category = undefined">
                        <span><i class="material-icons">cancel</i> Odustani</span>
                    </button>
                    <button type="submit" class="btn btn-outline-info" ng-disabled="!cc.category">
                        <span><i class="material-icons">save</i> Spremi</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>