﻿<div class="row">
    <div class="login-container orms-secondary-bg shadow col-md-3">
        <div class="login-form offset-md-1 col-md-10 text-center">
            <img src="../../Content/Images/orms_logo_text.png" class="img-fluid" alt="orms_logo" />
        </div>
        <form ng-submit="lc.login(lc.user)" class="login-form">
            <div class="form-group offset-md-1 col-md-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">person</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" id="username" ng-model="lc.user.username" placeholder="Korisničko ime">
                </div>
            </div>
            <div class="form-group offset-md-1 col-md-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">lock</i>
                        </span>
                    </div>
                    <input type="password" class="form-control" id="password" ng-model="lc.user.password" placeholder="Lozinka">
                </div>
            </div>
            <div class="form-group offset-md-1 col-md-10">
                <button type="submit" class="btn btn-info btn-block">
                    <span>Prijava <i class="material-icons margin-left">exit_to_app</i></span>
                </button>
            </div>
        </form>
    </div>
</div>
