﻿<div class="jumbotron bg-light shadow">
    <h1>Dobrodošao/la, {{ hc.firstName }}!</h1>
    <p class="lead">Ovo je aplikacija za menadžment ureda i evidencijskih listi.</p>
    <span>(eng. Office and Record Management System - ORMS)</span>
    <hr class="my-4">
    <p ng-hide="hc.isWorker">Kako bi napravili pregled trenutnog, mjesečnog ili godišnjeg stanja stisnite gumb ispod.</p>
    <p class="lead" ng-if="hc.isAdminOrOwner">
        <a class="btn btn-info btn-lg" href="#/statistics" role="button">Pregled stanja</a>
    </p>
    <p class="lead" ng-if="hc.isWorker">
        <a class="btn btn-info btn-lg" href="#/records" role="button">Pregled evidencijskih listi</a>
    </p>
</div>
