﻿<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body">
                <h5>Jeste li sigurni da želite ovo obrisati?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" ng-click="cancel()">
                    <span><i class="material-icons">cancel</i> Odustani</span>
                </button>
                <button type="button" class="btn btn-outline-info" ng-click="continueWith()">
                    <span><i class="material-icons">forward</i> Nastavi</span>
                </button>
            </div>
        </div>
    </div>
</div>