﻿<div class="row">
    <div class="form-group col-md-12">
        <h1 class="orms-secondary border-bottom">Detalji zaposlenika</h1>
    </div>
</div>
<form ng-submit="eec.save()">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <ul class="nav">
                    <li class="nav-item">
                        <button type="button" class="btn btn-link white" ng-click="eec.goBack()">
                            <span><i class="material-icons">arrow_back</i> <span class="d-none d-sm-block">Natrag</span></span>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="submit" class="btn btn-outline-light info">
                            <span><i class="material-icons">save</i> <span class="d-none d-sm-block">Spremi</span></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">Ime:</label>
                <input type="text" class="form-control" ng-model="eec.worker.firstName" required />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">Prezime:</label>
                <input type="text" class="form-control" ng-model="eec.worker.lastName" required />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">Datum rođenja:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">today</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" ng-model="eec.worker.dateOfBirth" 
                           ng-value="eec.worker.dateOfBirth | date : 'dd.MM.yyyy.'" id="dateOfBirth" readonly required placeholder="__.__.____."/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">JMBG:</label>
                <input type="text" class="form-control" maxlength="13" minlength="13" ng-model="eec.worker.jmbg" required  ng-disabled="eec.isEdit()"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">OIB:</label>
                <input type="text" class="form-control" maxlength="11" minlength="11" ng-model="eec.worker.oib" required  ng-disabled="eec.isEdit()"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">Adresa stanovanja:</label>
                <input type="text" class="form-control" ng-model="eec.worker.address" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">Poštanski broj:</label>
                <input type="text" class="form-control" maxlength="5" minlength="5" ng-model="eec.worker.postalCode" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">Grad:</label>
                <input type="text" class="form-control" ng-model="eec.worker.city" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">Broj telefona:</label>
                <input type="text" class="form-control" ng-model="eec.worker.phoneNumber" required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">Email:</label>
                <input type="email" class="form-control" ng-model="eec.worker.email" required />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">Ugostiteljski prostor:</label>
                <select ng-model="eec.worker.officeId"
                        ng-options="office.id as office.name for office in eec.offices"
                        required
                        class="form-control">
                    <option value="" ng-hide="true"></option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">Pozicija:</label>
                <select ng-model="eec.worker.roleCode"
                        ng-options="role.roleCode as role.name for role in eec.roles"
                        required
                        class="form-control">
                    <option value="" ng-hide="true"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">Sanitarna iskaznica:</label>
                <select class="form-control" ng-model="eec.worker.sanitaryIdVerified" required ng-change="eec.clearSanitaryIdDates()">
                    <option ng-value="0">Ne</option>
                    <option ng-value="1">Da</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">Datum izrade sanitarne iskaznice:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">today</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" 
                           ng-model="eec.worker.sanitaryIdCreatedDate" 
                           ng-value="eec.worker.sanitaryIdCreatedDate | date : 'dd.MM.yyyy.'"
                           id="sanitaryIdCreatedDate" 
                           placeholder="__.__.____."
                           ng-disabled="!eec.worker.sanitaryIdVerified  || eec.worker.sanitaryIdVerified === 0"
                           ng-required="eec.worker.sanitaryIdVerified  || eec.worker.sanitaryIdVerified === 1" 
                           readonly />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="text-white">Datum isticanja sanitarne iskaznice:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">today</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" 
                           ng-model="eec.worker.sanitaryIdExpirationDate" 
                           ng-value="eec.worker.sanitaryIdExpirationDate | date : 'dd.MM.yyyy.'"
                           id="sanitaryIdExpirationDate" 
                           placeholder="__.__.____."
                           ng-disabled="!eec.worker.sanitaryIdVerified || eec.worker.sanitaryIdVerified === 0"
                           ng-required="eec.worker.sanitaryIdVerified  || eec.worker.sanitaryIdVerified === 1" 
                           readonly />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <h5 class="orms-secondary border-bottom">Dodatne postavke</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">person</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" id="username" ng-model="eec.worker.username" placeholder="Korisničko ime"  ng-disabled="eec.isEdit()" required>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">lock</i>
                        </span>
                    </div>
                    <input type="password" class="form-control" id="password" ng-model="eec.worker.password" placeholder="Lozinka" ng-required="eec.isCreate()">
                </div>
            </div>
        </div>
    </div>
</form>