﻿<div class="row">
    <div class="form-group col-md-12">
        <h1 class="orms-secondary border-bottom">Zaposlenici</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="material-icons">search</i>
                    </span>
                </div>
                <input type="text" class="form-control" ng-model="ec.filterParams.name" placeholder="Filtriranje po imenu, prezimenu, poziciji, ugostiteljskom prostoru">
                <div class="input-group-append">
                    <button class="btn btn-info" type="button" ng-click="ec.goAdd()">
                        <span><i class="material-icons no-margin">add</i> Dodaj</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card-group">
        <div class="col-md-3 mb-3" ng-repeat="worker in ec.workers | filter: ec.filterParams.name" >
            <div class="card">
                <img class="card-img-top" src="../../../../Content/Images/default_profile.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ worker.fullName }}</h5>
                </div>
                <div class="card-footer clearfix">
                    <button class="btn btn-link float-left" ng-click="ec.remove(worker)">
                        <span><i class="material-icons">delete_sweep</i> Obriši</span>
                    </button>
                    <button class="btn btn-link float-right" ng-click="ec.goEdit(worker.id)">
                        <span><i class="material-icons">mode_edit</i> Uredi</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>