﻿<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow" ng-controller="navigationController as nc">
    <div class="container">
        <a href="#/home" class="navbar-brand">
            <img src="../../Content/Images/orms_brand.png" class="img-fluid orms-brand mx-auto d-block" alt="orms_logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" ng-class="{ 'active-nav' : nc.$route.current.activeTab === nc.NAVIGATION.STATISTICS}" ng-hide="nc.isWorker">
                    <a href="#/statistics" class="nav-link">
                        <span><i class="material-icons">insert_chart</i> Statistika</span>
                    </a>
                </li>
                <li class="nav-item" ng-class="{ 'active-nav' : nc.$route.current.activeTab === nc.NAVIGATION.RECORDS}">
                    <a href="#/records" class="nav-link">
                        <span><i class="material-icons">assignment</i> Evidencijske liste</span>
                    </a>
                </li>
                <li class="nav-item" ng-class="{ 'active-nav' : nc.$route.current.activeTab === nc.NAVIGATION.ITEMS}" ng-hide="nc.isWorker">
                    <a href="#/items" class="nav-link">
                        <span><i class="material-icons">list</i> Artikli</span>
                    </a>
                </li>
                <li class="nav-item" ng-class="{ 'active-nav' : nc.$route.current.activeTab === nc.NAVIGATION.EMPLOYEES}" ng-hide="nc.isWorker">
                    <a href="#/employees" class="nav-link">
                        <span><i class="material-icons">people</i> Zaposlenici</span>
                    </a>
                </li>
                <li class="nav-item" ng-class="{ 'active-nav' : nc.$route.current.activeTab === nc.NAVIGATION.OFFICES}" ng-hide="nc.isWorker">
                    <a href="#/offices" class="nav-link">
                        <span><i class="material-icons">business</i> Ugostiteljski prostori</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link">
                        <span><i class="material-icons">person</i> {{ nc.firstName }}</span>
                    </a>
                </li>
                <li class="nav-item" ng-click="nc.logout()">
                    <a class="nav-link" href="">
                        <span><i class="material-icons">exit_to_app</i> Odjava</span> 
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>