﻿<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow" ng-controller="navigationController as nc">
    <div class="container">
        <a href="#/home" class="navbar-brand">
            <img src="../../Content/Images/orms_brand.png" class="img-fluid orms-brand mx-auto d-block" alt="orms_logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#/home" class="nav-link">
                        <span><i class="material-icons margin-left">exit_to_app</i> Go back</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>